<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngFor="let user of users">
    <ion-card-content>
      <h1 *ngIf="nome">{{ user.nome }}</h1>
      <p>{{ user.email }}</p>
    </ion-card-content>
  </ion-card>
  <p>
    <button ion-button block (click)="mostraNome()">Mostrar/Ocultar Nome</button>
  </p>
</ion-content>
